* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 75px;
}

html,
body {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Sora", sans-serif;
}

/* COMMOM CODE */
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 205px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2e80ce;
  border-radius: 30px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.66667;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

:root {
  --color-heading: #10375c;
  --color-content: #575f66;
}
.desc {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #575f66;
}

.sub-heading {
  font-size: 1.8rem;
  line-height: 1.66667;
}

.heading-item {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: var(--color-heading);
}

img {
  object-fit: cover;
  object-position: center;
}

.direction-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #575f66;
  border-radius: 50%;
}

.direction-icon:hover {
  cursor: pointer;
  color: #fff;
  background: #2e80ce;
}

/* NAV */

nav {
  padding-top: 30px;
  padding-bottom: 8px;
  background: #10375c;
  position: sticky;
  top: -18px;
  z-index: 10;
}

nav .nav,
.nav .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .navigation {
  gap: 42px;
}

.nav .navigation .navigation__item a {
  padding: 5px 0;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #c9d2da;
}
.nav .navigation .navigation__item a:hover,
.nav .nav--cta a:first-child:hover {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6);
  color: #ffffff;
}

.nav .navigation .navigation__item::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 50%;
  top: 10px;
  left: -13px;
  position: absolute;
}

.nav .navigation .navigation__item:hover {
  position: relative;
}

.nav .nav--cta {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav .nav--cta a:first-child {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #c9d2da;
}

.nav .nav--cta .btn {
  width: 104px;
  height: 44px;
}

/* HEADER */
header {
  padding: 68px 0 110px 0;
  background: var(--color-heading);
}

header .header-content {
  display: flex;
  gap: 113px;
}

header .header-intro {
  padding-top: 60px;
  width: 517px;
}

header .header-intro .header-heading {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14285;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 517px;
}

header .header-intro .desc {
  padding-top: 22px;
  color: #c9d2da;
  width: 468px;
}

header .header-intro .header__more-info {
  padding-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

header .header-intro .header__more-info span {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.66667;
  color: #ffffff;
}

.header-content .header-image {
  position: relative;
}

.header-content .header-image .header__img--item-1,
.header-content .header-image .header__img--item-2 {
  position: absolute;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

.header-content .header-image .header__img--item-1 {
  width: 330px;
  height: 540px;
  left: 0;
  z-index: 1;
}

.header-content .header-image .header__img--item-2 {
  top: 65px;
  left: 320px;
  width: 220px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
  opacity: 0.8;
}

/* SERVICES */
.services {
  padding-top: 170px;
}

.services .services-content .heading-item {
  text-align: center;
}

.services .services-content .services-desc {
  padding-top: 18px;
  width: 468px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*SERVICES IMG */
.services .services-content .services-info {
  padding-top: 70px;
}

.services-content .services-info > figure img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
}

/* SERVICES INFORMATION */
.services-content .services-info {
  display: flex;
  gap: 130px;
}

.services-content .services-info .services-info__item {
  padding-top: 35px;
}

.services-content .services-info .services__card {
  padding: 21px 0 0 22px;
  background: #fff;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.services-content .services-info .services__card:hover {
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.services-info .services-info__item .services-info__item--img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: var(--color-heading);
  background: #eff6fd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.services-info .services__card:hover .services-info__item--img {
  color: #fff;
  background: #2e80ce;
}

.services-info .services-info__item .add-info__heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.277778;
  color: var(--color-heading);
}

.services-info .services-info__item .add-info .desc {
  width: 351px;
  padding-top: 8px;
}

.services-info .services-info__item .btn {
  margin-top: 55px;
}

/* HOW IT WORK */
.hiw {
  margin-top: 170px;
  padding: 100px 0;
  background: #f7fbff;
}

.hiw .hiw-content .hiw-desc {
  padding-top: 18px;
  width: 468px;
}

/* HOW IT WORK CARD ITEM */
.hiw-cards {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hiw-cards__item {
  width: 370px;
  background: #eaf6ff;
  border-radius: 4px;
}

.hiw-cards__item {
  padding: 43px 42px;
  background: #ffffff;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
}

.hiw-cards__item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
  transition: 0.2s;
  transition-timing-function: linear;
}

.hiw-cards__item .hiw-cards__heading {
  padding-top: 20px;
  padding-bottom: 18px;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.3846;
  color: var(--color-heading);
}

.hiw-cards__item .hiw__more-info a {
  text-decoration: none;
  color: #2e80ce;
}

.hiw-cards__item .hiw__more-info {
  padding-top: 18px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
}

/* ABOUT */
.about {
  margin-top: 170px;
}

.about .about-content {
  display: flex;
  align-items: center;
  gap: 188px;
}

.about-content figure {
  position: relative;
}

.about-content figure img:first-child {
  width: 512px;
  height: 370px;
  filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
  border-radius: 6px;
}

.about-content figure img:last-child {
  position: absolute;
  top: 121px;
  left: 238px;
  width: 332px;
  height: 370px;
}

.about-content .about-intro {
  padding-top: 82px;
}

.about-content .about-intro .desc {
  padding-top: 18px;
  padding-bottom: 38px;
}

/* TEAM */

.team {
  margin-top: 290px;
}

.team-content .team-heading {
  text-align: center;
  padding-bottom: 30px;
}

.team-content .team-btn {
  margin-left: auto;
  margin-right: auto;
}

.team-content .avt-doctor-group {
  margin-top: 70px;
  display: flex;
  align-items: center;
  gap: 34px;
}

.team-content .team-card figure {
  position: relative;
  width: 270px;
  height: 318px;
  background: #eaf6ff;
  border-radius: 6px;
}

.team-content .team-card figure img {
  position: absolute;
  bottom: 0;
  width: 262px;
  height: 290px;
  border-radius: 6px;
}

.team-content .team-card figcaption .name {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
  color: var(--color-heading);
  padding-top: 12px;
}

.team-content .team-card figcaption .doctor-info {
  font-size: 1.4rem;
  line-height: 1.8571;
  text-align: center;
}

.team-content .team-direction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 38px;
}

/* CTA */
.cta {
  margin-top: 265px;
}

.cta .cta-content {
  padding: 75px 70px 75px 0;
  background: #2e80ce;
  border-radius: 4px;
  position: relative;
}

.cta .cta-content figure {
  position: absolute;
  left: 70px;
  bottom: 0;
}

.cta .cta-content .cta-intro {
  width: 568px;
  margin-left: auto;
}

.cta-content .cta-intro .cta-heading {
  color: #ffffff;
}

.cta-content .cta-intro .cta-desc {
  color: #ffffff;
  padding-top: 18px;
  padding-bottom: 38px;
}

.cta-intro .cta-symbolize {
  display: flex;
  align-items: center;
  gap: 28px;
}

.cta-intro .cta-symbolize__item {
  padding: 7px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.cta-intro .cta-symbolize__item .cta-download p:first-child {
  color: #fff;
  font-size: 8px;
  text-transform: uppercase;
}

.cta-intro .cta-symbolize__item .cta-download p:last-child {
  color: #fff;
  font-size: 17px;
}

/* BLOG */
.blog {
  margin-top: 170px;
}

.blog-content {
  display: flex;
  align-items: center;
  gap: 130px;
}

.blog-content .blog-intro .blog__more-blog {
  display: inline-block;
  padding-top: 28px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.55556;
  color: var(--color-heading);
}

.blog-content .blog-intro .blog__more-blog:hover {
  text-decoration-line: underline;
}

.blog-content .blog-intro .blog-direction {
  padding-top: 28px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.blog-cards {
  display: flex;
  align-items: center;
  gap: 30px;
}

.blog-cards .blog-card__item img {
  display: block;
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
}

.blog-cards .blog-card__item {
  box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
  border: 1px solid #E8EBEE;
  border-radius: 12px;
}

.blog-cards .blog-card__item .blog-item__info {
  padding: 18px 0 21px 22px;
}

.blog-cards .blog-card__item .blog-card__heading {
  width: 226px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.625;
  color: #10375c;
}

.blog-cards .blog-card__item .blog-card__desc {
  width: 226px;
  font-size: 1.4rem;
  line-height: 1.71428;
  color: #575f66;
  padding-top: 10px;
  padding-bottom: 12px;
}

.blog-cards .blog-card__item .blog-card__more-info {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2857;
  color: #10375c;
}

/* WELCOME */
.welcome {
  margin-top: 170px;
}

.welcome-content {
  text-align: center;
  background: #f7fbff;
  padding: 100px 0;
}

.welcome-line {
  margin-top: 18px;
  width: 136px;
  height: 2px;
  background: #2e80ce;
}

.welcome-content .welcome-desc {
  width: 617px;
  padding-top: 18px;
  padding-bottom: 38px;
}

.welcome-content .welcome-desc,
.welcome-content .welcome-btn,
.welcome-line {
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */
footer {
  margin-top: 170px;
  background: var(--color-heading);
  padding: 100px 0 42px 0;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;
  border-bottom: 1px solid #406181;
}

footer .overall-web .footer-overal__desc {
  padding-top: 21px;
  color: #a9b3bb;
  width: 336px;
}

footer .title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.675;
  color: #ffffff;
}

.footer-content .footer-column ul li {
  padding-top: 10px;
}

.footer-content .footer-column ul li a {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.85714;
  color: #a9b3bb;
}

.footer-content .footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-content .footer-column ul:last-child {
  padding-top: 28px;
}

.footer-content .social .social-media__logo {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-content .social h3:nth-of-type(2) {
  padding-top: 28px;
  margin-bottom: 20px;
}

.footer-content .social-desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.85714;
  color: #a9b3bb;
  padding-bottom: 10px;
  width: 273px;
}

.footer-content .social-cta input {
  padding: 9px 19px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.85714;
  border: 1px solid #406181;
  border-radius: 4px;
}

.footer-content .social-cta button {
  width: 108px;
  height: 46px;
  background: #2e80ce;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.85714;
  color: #ffffff;
  border: none;
  margin-left: 12px;
}

.footer-content .social-cta button:hover {
  cursor: pointer;
  opacity: 0.8;
}

footer .footer .end-text {
  padding-top: 28px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.85714;
  text-align: center;
  color: #aab3ba;
}
